{% extends 'base.html.twig' %}

{% block nav %}
        {% include 'nav.html.twig'  %}
    {% endblock %}

{% block body %}
        
        <main class="main-content">
            <!--== Start: Page Header Area Wrapper ==-->
            <div class="section page-header-area" data-bg-img="{{ asset('estilos/assets/images/slider/acercade.jpg') }}">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-sm-auto text-center text-sm-start">
                            <h1 class="page-header-title titulos">Acerca de</h1>
                        </div>
                        <div class="col-sm-auto">
                            <ol class="breadcrumb mb-0 justify-content-center mt-3 mt-sm-0">
                                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Acerca de</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--== End: Page Header Area Wrapper ==-->

            <!--== Start: About Section Wrapper ==-->
            <div class="about-section section section-padding section-margin-t">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about-image">
                                <img src="{{ asset('estilos/assets/images/photos/voluntarios.jpg') }}" width="800" height="800" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-content">
                                <h6 class="sub-title">Arca de Jaén</h6>
                                <h2 class="title">Nuestra misión y visión</h2>
                                <p>Nuestra misión es mejorar el bienestar de los animales, y acabar con la crueldad y la negligencia hacia ellos, con la cría descontrolada y el abandono de los mismos a través de rescates, rehabilitación y tratamiento veterinario. Cambiar la actitud de las personas en favor del bienestar animal a través de la educación y publicidad.</p>
                                <p>Desde La Protectora consideramos esencial transmitir también a los más jóvenes nuestros mensajes de respeto y cuidado de los animales y nuestro entorno, para que sus actitudes permitan un cambio desde la base.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" section-bg-color-shape-style1 bg-grey"></div>
                <div class="section-bg-color-shape section-bg-color-shape-style3" ></div>
                <div class="section-pattern-img section-pattern-img-style7 pattern-img-zoom">
                    <img src="assets/images/shape/1.png" width="127" height="125" alt="Image">
                </div>
            </div>
            <!--== End: About Section Wrapper ==-->

            <!--== Start: About Section Wrapper ==-->
            <div class="about-section section section-margin pt-0 pb-0 pt-xl-5 pb-xl-5">
                <div class="container">
                    <div class="row mt-n1 pt-0 pt-lg-5 pt-xl-10 pb-6 pb-md-10 pb-lg-5 pb-xl-10 mb-5 mb-lg-0 animate__animated animate__fadeInLeft animate__delay-1s">
                        <div class="col-lg-5">
                            <!--== Section Title Start ==-->
                            <div class="section-title-2 mb-0">
                                <h6 class="sub-title">Proceso de Adopción</h6>
                                <h2 class="title">¿Cómo se adopta un animal?</h2>
                                <p>Lo primero que tienes que pensar es qué tipo de perro quieres: cachorro, adulto, pequeño, grande, tranquilo, con mucha energía… Tanto tus preferencias como tu estilo de vida son muy importantes a la hora de elegir el perro ideal.</p>
                                <p>La economía también debe valorarse, ¿puedes costear todos los gastos que va a suponer el animal?</p>
                                <p>Y, lo más importante, que sea una decisión meditada y estés seguro de todo lo que conlleva tener un perro.</p>
                            </div>
                            <!--== Section Title End ==-->
                        </div>
                    </div>
                </div>
                <div class="section-bg-img section-bg-img-style1 animate__animated animate__rollIn animate__delay-2s" data-bg-img="{{ asset('estilos/assets/images/photos/adoptame.jpg') }}"></div>
                <div class="section-pattern-img section-pattern-img-style2 pattern-img-move">
                    <img src="" width="148" height="190" alt="Image">
                </div>
            </div>
            <!--== End: About Section Wrapper ==-->

            <!--== Start: Team Section Wrapper ==-->
            <div class="team-section section section-padding" data-bg-img="assets/images/slider/acercade.jpg">
                <div class="container">
                    <!--== Start: Section Title ==-->
                    <div class="section-title center mt-n3">
                        <h2 class="title">Fundadores Arca de Jaén</h2>
                        <p>Les presentamos a los 4 fundadores de nuestra protectora.</p>
                    </div>
                    <!--== End: Section Title ==-->
                    <div class="row">
                        <!--== Start: Team ==-->
                        <div class="col-md-6 col-lg-3 mb-8">
                            <div class="team-item">
                                <div class="image">
                                    <img src="{{ asset('estilos/assets/images/team/fundador1.jpg') }}" width="280" height="280" alt="Ceyda Ciftci" class="animate__animated animate__fadeInTopLeft animate__delay-1s">
                                </div>
                                <div class="content">
                                    <h4 class="name">Javier Quesada</h4>
                                    <span class="title">Presidente</span>
                                </div>
                            </div>
                        </div>
                        <!--== End: Team ==-->

                        <!--== Start: Team ==-->
                        <div class="col-md-6 col-lg-3 mb-8">
                            <div class="team-item">
                                <div class="image">
                                    <img src="{{ asset('estilos/assets/images/team/fundador3.jpg') }}" width="280" height="280" alt="Jonah Brown" class="animate__animated animate__fadeInTopLeft animate__delay-1s">
                                </div>
                                <div class="content">
                                    <h4 class="name">Jose Luis Serrano</h4>
                                    <span class="title">Fundador</span>
                                </div>
                            </div>
                        </div>
                        <!--== End: Team ==-->

                        <!--== Start: Team ==-->
                        <div class="col-md-6 col-lg-3 mb-8">
                            <div class="team-item">
                                <div class="image">
                                    <img src="{{ asset('estilos/assets/images/team/fundador4.jpg') }}" width="280" height="280" alt="dusan jovic" class="animate__animated animate__fadeInTopRight animate__delay-1s">
                                </div>
                                <div class="content">
                                    <h4 class="name">Jose Antonio Balboa</h4>
                                    <span class="title">Fundador</span>
                                </div>
                            </div>
                        </div>
                        <!--== End: Team ==-->

                        <!--== Start: Team ==-->
                        <div class="col-md-6 col-lg-3 mb-8">
                            <div class="team-item">
                                <div class="image">
                                    <img src="{{ asset('estilos/assets/images/team/fundadora2.jpg') }}" width="280" height="280" alt="Anna Bratiychuk" class="animate__animated animate__fadeInTopRight animate__delay-1s">
                                </div>
                                <div class="content">
                                    <h4 class="name">Ana Serrano</h4>
                                    <span class="title">Fundadora</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--== End: Team Section Wrapper ==-->

            <!--== Start: Testimonial Section Wrapper ==-->

        </main>

 {% endblock %}
  {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}