<footer class="footer-section section">
            <!--== Start: Footer Main ==-->
            <div class="footer-main section-padding bg-img" data-bg-img="{{ asset('estilos/assets/images/photos/bg2.jpg') }}">
                <div class="container mb-n3">
                    <div class="row justify-content-center">
                        <div class="col-md-5 col-lg-3 mb-8 mb-md-0 text-center">
                            <!--== Start: Footer Widget ==-->
                            <div class="footer-widget text-center">
                                <a class="footer-widget-logo me-auto me-md-0 ms-auto ms-md-0" href="index.html">
                                    <img src="{{ asset('estilos/assets/images/logo_white_large.png') }}" width="178" height="58" alt="Logo" />
                                </a>
                                <p class="footer-widget-desc me-auto me-md-0 ms-auto ms-md-0">Traiga a casa una mascota para hacer de su hogar un lugar mejor.</p>
                            </div>

                            <ul class="ftco-footer-social list-unstyled text-center">
                                <li class="ftco-animate"><a href="https://twitter.com/cochesnet?lang=es"><span class="icofont-instagram"></span></a></li>
                                <li class="ftco-animate"><a href="https://es-es.facebook.com/Coches.net/"><span class="icofont-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="https://www.instagram.com/cochesnetoficial/?hl=es"><span class="icofont-twitter"></span></a></li>
                              </ul>

            
                            <!--== Start: Footer Widget ==-->
                        </div>
                        <div class="col-md-12 col-lg-9">
                            <!--== Start: Footer Widget ==-->
                            <div class="footer-widget">
                                <div class="row">
                                    <div class="col-md-4 footer-widget-nav1">
                                        <h4 class="footer-widget-title">Recursos</h4>
                                        <h4 class="collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-1" aria-expanded="false">Resources</h4>
                                        <div id="dividerId-1" class="widget-collapse-body collapse">
                                            <ul class="footer-widget-nav">
                                                <li><a href="">Contrato de adopción</a></li>
                                                <li><a href="about-us.html">CSR Made Simple</a></li>
                                                <li><a href="about-us.html">Corporate Resources</a></li>
                                                <li><a href="about-us.html">Start an Application</a></li>
                                                <li><a href="about-us.html">Corporate Gift Cards</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 footer-widget-nav2">
                                        <h4 class="footer-widget-title">Qtuick Links</h4>
                                        <h4 class="collapsed-title collapsed mt-2" data-bs-toggle="collapse" data-bs-target="#dividerId-2" aria-expanded="false">Qtuick Links</h4>
                                        <div id="dividerId-2" class="widget-collapse-body collapse">
                                            <ul class="footer-widget-nav">
                                                <li><a href="about-us.html">Start Donating</a></li>
                                                <li><a href="about-us.html">Become a Volunteer</a></li>
                                                <li><a href="about-us.html">Quick Fundraising</a></li>
                                                <li><a href="about-us.html">Save for Animal</a></li>
                                                <li><a href="about-us.html">Get Daily Updates</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-md-4 footer-widget">
                                        <h4 class="footer-widget-title mb-5 mb-xl-10 pb-1">Contacto</h4>
                                        <h4 class="collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-3" aria-expanded="false">Contact Us</h4>
                                        <div id="dividerId-3" class="widget-collapse-body collapse">
                                            <ul class="footer-widget-info">
                                                <li>
                                                    <i class="icofont-ui-call"></i>
                                                    <a href="tel://5123602763">953 23 34 67</a>
                                                </li>
                                                <li>
                                                    <i class="icofont-envelope-open"></i>
                                                    <a href="mailto://support@gamil.com">support@gamil.com</a>
                                                </li>
                                                <li>
                                                    <i class="icofont-location-pin"></i>
                                                    <p>(303) 420-8143 Arvada, Colorado(CO)</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== Start: Footer Widget ==-->
                        </div>

                    </div>
                </div>
            </div>
            <!--== End: Footer Main ==-->

            <script src="{{ asset('estilos/assets/js/vendor/modernizr-3.11.7.min.js') }}"></script>
            <script src="{{ asset('estilos/assets/js/vendor/jquery-3.6.0.min.js') }}"></script>
            <script src="{{ asset('estilos/assets/js/vendor/bootstrap.bundle.min.js') }}"></script>

            <!-- Plugins JS -->
            <script src="{{ asset('estilos/assets/js/plugins/swiper-bundle.min.js') }}"></script>
            <script src="{{ asset('estilos/assets/js/plugins/svg-inject.min.js') }}"></script>
            <script src="{{ asset('estilos/assets/js/plugins/fancybox.min.js') }}"></script>
            <script src="{{ asset('estilos/assets/js/plugins/jquery-ui.min.js') }}"></script>

            <!-- Custom Main JS -->
            <script src="{{ asset('estilos/assets/js/main.js') }}"></script>

        </footer>

    