<head>
    <meta charset="utf-8">
    <title>Arca de Jaén</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block stylesheet%}
      <link rel="shortcut icon" type="image/x-icon" href="{{ asset('estilos/assets/images/favicon.png') }}">

      <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

      <!-- Font CSS -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>

      <!-- Vendor CSS (Bootstrap & Icon Font) -->
      <link rel="stylesheet" href="{{ asset('estilos/assets/css/vendor/bootstrap.min.css') }}">

      <!-- Plugins CSS (All Plugins Files) -->
      <link rel="stylesheet" href="{{ asset('estilos/assets/css/plugins/swiper-bundle.min.css') }}">
      <link rel="stylesheet" href="{{ asset('estilos/assets/css/plugins/icofont.min.css') }}">
      <link rel="stylesheet" href="{{ asset('estilos/assets/css/plugins/fancybox.min.css') }}">

      <!-- Style CSS -->
      <link rel="stylesheet" href="{{ asset('estilos/assets/css/style.css') }}">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
      
    {% endblock%}

  </head>