{% extends 'base.html.twig' %}

{% block nav %}
        {% include 'nav.html.twig'  %}
    {% endblock %}

{% block body %}
    <!-- END nav -->
    
    <main class="main-content">
            <!--== Start: Hero Section Wrapper ==-->
            <div class="hero-slider-section position-relative">
                <div class="swiper hero-slider-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide hero-slide-item">
                            <div class="container-fluid">
                                <div class="hero-slide-content">
                                    <h2 class="hero-slide-sub-title">Arca de Jaén</h2>
                                    <h1 class="hero-slide-title">Proporcionando hogar a todos los animales durante años.</h1>
                                    <p class="hero-slide-desc">That necetate robust ecommerce platform populars that with the release store.</p>
                                </div>
                            </div>
                            <div class="hero-slide-shape-one" data-bg-img="{{ asset('estilos/assets/images/slider/slide-bg-color1.jpg') }}"></div>
                            <div class="hero-slide-thumb">
                                <img src="{{ asset('estilos/assets/images/slider/slider1.jpg') }}" width="1208" height="804" alt="Image">
                                <a data-fancybox data-type="iframe" href="https://player.vimeo.com/video/172601404?autoplay=1" class="hero-video-popup video-popup">
                                    <i class="icofont-ui-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide hero-slide-item">
                            <div class="container-fluid">
                                <div class="hero-slide-content">
                                    <h2 class="hero-slide-sub-title">PROTECT OUR ANIMAL</h2>
                                    <h1 class="hero-slide-title">Wanting to save the animal.</h1>
                                    <p class="hero-slide-desc">That necetate robust ecommerce platform populars that with the release store.</p>
                                    <a class="btn btn-primary btn-icon-right" href="about-us.html"><span>Learn more</span> <i class="icofont-double-right icon"></i></a>
                                </div>
                            </div>
                            <div class="hero-slide-shape-one" data-bg-img="{{ asset('estilos/assets/images/slider/slide-bg-color1.jpg') }}"></div>
                            <div class="hero-slide-thumb">
                                <img src="{{ asset('estilos/assets/images/slider/slider2.jpg') }}" width="1208" height="804" alt="Image">
                                <a data-fancybox data-type="iframe" href="https://player.vimeo.com/video/172601404?autoplay=1" class="hero-video-popup video-popup">
                                    <i class="icofont-ui-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--== End: Hero Section Wrapper ==-->

            <!--== Start: Feature Section Wrapper ==-->
            <div class="feature-section section section-padding section-margin-t">
                <div class="container">
                    <div class="row row-gutter-45 mb-n6">
                        <!--== Start Feature Item ==-->
                        <div class="col-md-6 col-lg-4 mb-6">
                            <div class="feature-item">
                                <span class="icon">
                                <svg class="bg" data-name="bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135 135">
                                <path d="M67.5,0A67.5,67.5,0,1,1,0,67.5,67.5,67.5,0,0,1,67.5,0Z" fill="currentColor" fill-rule="evenodd"/>
                                </svg>
                                <img class="svg-inject" src="{{ asset('estilos/assets/images/icons/feature-1.svg') }}" width="63" height="56" alt="Save Animal Life">
                            </span>
                                <h4 class="title">Adopta un animal</h4>
                                <p class="desc">Para ayudar a una mascota que lo necesita, bríndele un lugar seguro junto a ti</p>
                            </div>
                        </div>
                        <!--== End Feature Item ==-->

                        <!--== Start Feature Item ==-->
                        <div class="col-md-6 col-lg-4 mb-6">
                            <div class="feature-item">
                                <span class="icon">
                                    <svg class="bg" data-name="bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135 135">
                                    <path d="M67.5,0A67.5,67.5,0,1,1,0,67.5,67.5,67.5,0,0,1,67.5,0Z" fill="currentColor" fill-rule="evenodd"/>
                                    </svg>
                                    <img class="svg-inject" src="{{ asset('estilos/assets/images/icons/feature-2.svg') }}" width="63" height="56" alt="Join Volunteer">
                                </span>
                                <h4 class="title">Hazte voluntario</h4>
                                <p class="desc">Puedes ayudarnos realizando distintos tipos de tareas en el centro cómo cuidado y limpieza</p>
                            </div>
                        </div>
                        <!--== End Feature Item ==-->

                        <!--== Start Feature Item ==-->
                        <div class="col-md-6 col-lg-4 mb-6">
                            <div class="feature-item">
                                <span class="icon">
                                    <svg class="bg" data-name="bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135 135">
                                    <path d="M67.5,0A67.5,67.5,0,1,1,0,67.5,67.5,67.5,0,0,1,67.5,0Z" fill="currentColor" fill-rule="evenodd"/>
                                    </svg>
                                    <img class="svg-inject" src="{{ asset('estilos/assets/images/icons/feature-3.svg') }}" width="63" height="56" alt="Fund Raising">
                                </span>
                                <h4 class="title">Donaciones</h4>
                                <p class="desc">Cualquier tipo de donación mejorará la calidad de vida de nuestros animales</p>
                            </div>
                        </div>
                        <!--== End Feature Item ==-->
                    </div>
                </div>
                <div class="section-bg-color-shape section-bg-color-shape-style1"></div>
                <div class="section-pattern-img section-pattern-img-style1 pattern-img-zoom">
                    <img src="{{ asset('estilos/assets/images/shape/1.png') }}" width="127" height="125" alt="Image">
                </div>
            </div>
            <!--== End: Feature Section Wrapper ==-->

            <!--== Start: About Section Wrapper ==-->
            <div class="about-section section section-margin pt-0 pb-0 pt-xl-5 pb-xl-5">
                <div class="container">
                    <div class="row mt-n1 pt-0 pt-lg-5 pt-xl-10 pb-6 pb-md-10 pb-lg-5 pb-xl-10 mb-5 mb-lg-0">
                        <div class="col-lg-5">
                            <!--== Section Title Start ==-->
                            <div class="section-title-2 mb-0">
                                <h6 class="sub-title">Arca de Jaén</h6>
                                <h2 class="title">Adopta un amigo, no lo compres</h2>
                                <p>Somos una Asociación sin ánimo de lucro, cuya función es ayudar a perros y gatos 
                                abandonados o maltratados. Los objetivos de la ASOCIACION son los que se recogen en el capítulo I de sus Estatutos y que se 
                                resumen en la realización de todo tipo de actividades y acciones legales necesarias para mejorar las condiciones de vida de los 
                                animales. </p>
                                <p>La ASOCIACIÓN considera que los problemas de malos tratos, abandonos y crueldades con los animales son una 
                                cuestión educacional, por lo que llevará a cabo un programa con todo tipo de campañas educativas e informativas a distintos niveles. </p>
                            </div>
                            <!--== Section Title End ==-->
                        </div>
                    </div>
                </div>
                <div class="section-bg-img section-bg-img-style1" data-bg-img="{{ asset('estilos/assets/images/photos/about1.jpg') }}"></div>
                <div class="section-pattern-img section-pattern-img-style2 pattern-img-move">
                    <img src="{{ asset('estilos/assets/images//shape/2.png') }}" width="148" height="190" alt="Image">
                </div>
            </div>
            <!--== End: About Section Wrapper ==-->

            <!--== Start: Campaign Section Wrapper ==-->
            <div class="campaign-section section section-padding">
                <div class="container">
                    <!--== Start Section Title ==-->
                    <div class="section-title center mt-n3">
                        <h2 class="title">Nuestros animales</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry page when looking</p>
                        <span class="shape"><img src="{{ asset('estilos/assets/images/shape/section-title.png') }}" width="99" height="7" alt="Section Title Shape"></span>
                    </div>
                    <!--== End Section Title ==-->

                    <div class="row row-gutter-60 mb-n8">
                        <!--== Start Campaign Item ==-->
                        <div class="col-md-6 col-lg-4 mb-8">
                            <div class="campaign-item ">
                                <a href="causes-details.html" class="image">
                                    <img src="{{ asset('estilos/assets/images/campaign/campaign-1.jpg') }}" width="350" height="250" alt="Save for animal’s">
                                </a>
                                <div class="content">
                                    <h4 class="title"><a href="causes-details.html">Save for animal’s</a></h4>

                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text has roots in a piece</p>
                                </div>
                            </div>
                        </div>
                        <!--== End Campaign Item ==-->

                        <!--== Start Campaign Item ==-->
                        <div class="col-md-6 col-lg-4 mb-8">
                            <div class="campaign-item ">
                                <a href="causes-details.html" class="image">
                                    <img src="{{ asset('estilos/assets/images/campaign/campaign-2.jpg') }}" width="350" height="250" alt="Unlock doors to earth">
                                </a>
                                <div class="content">
                                    <h4 class="title"><a href="causes-details.html">Unlock doors to earth</a></h4>

                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text has roots in a piece</p>
                                </div>
                            </div>
                        </div>
                        <!--== End Campaign Item ==-->

                        <!--== Start Campaign Item ==-->
                        <div class="col-md-6 col-lg-4 mb-8">
                            <div class="campaign-item ">
                                <a href="causes-details.html" class="image">
                                    <img src="{{ asset('estilos/assets/images/campaign/campaign-3.jpg') }}" width="350" height="250" alt="Save for forest">
                                </a>
                                <div class="content">
                                    <h4 class="title"><a href="causes-details.html">Save for forest</a></h4>

                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text has roots in a piece</p>
                                </div>
                            </div>
                        </div>
                        <!--== End Campaign Item ==-->


                    </div>
                </div>
                <div class="section-bg-color-shape section-bg-color-shape-style2"></div>
                <div class="section-pattern-img section-pattern-img-style3 pattern-img-move">
                    <img src="{{ asset('estilos/assets/images/shape/3.png') }}" width="107" height="170" alt="Image">
                </div>
            </div>
            <!--== End: Campaign Section Wrapper ==-->

            <!--== Start: Team Section Wrapper ==-->
            <div class="team-section section section-padding">
                <div class="container-fluid team-container-fluid">
                    <div class="row align-items-center justify-content-space-between">
                        <div class="col-lg-6 team-item-wrap">
                            <div class="row row-gutter-40 mb-n6 mb-xl-n8">
                                <!--== Team Start ==-->
                                <div class="col-sm-6 col-lg-6 mb-6 mb-xl-8">
                                    <div class="team-item">
                                        <div class="image">
                                            <img src="{{ asset('estilos/assets/images/team/team-1.jpg') }}" width="280" height="280" alt="Ceyda Ciftci">
                                        </div>
                                        <div class="content">
                                            <h4 class="name">Ceyda Ciftci</h4>
                                            <span class="title">Senior Volunteer</span>
                                        </div>
                                    </div>
                                </div>
                                <!--== Team End ==-->

                                <!--== Team Start ==-->
                                <div class="col-sm-6 col-lg-6 mb-6 mb-xl-8">
                                    <div class="team-item">
                                        <div class="image">
                                            <img src="{{ asset('estilos/assets/images/team/team-2.jpg') }}" width="280" height="280" alt="Jonah Brown">
                                        </div>
                                        <div class="content">
                                            <h4 class="name">Jonah Brown</h4>
                                            <span class="title">Senior Volunteer</span>
                                        </div>
                                    </div>
                                </div>
                                <!--== Team End ==-->

                                <!--== Team Start ==-->
                                <div class="col-sm-6 col-lg-6 mb-6 mb-xl-8">
                                    <div class="team-item">
                                        <div class="image">
                                            <img src="{{ asset('estilos/assets/images/team/team-3.jpg') }}" width="280" height="280" alt="dusan jovic">
                                        </div>
                                        <div class="content">
                                            <h4 class="name">dusan jovic</h4>
                                            <span class="title">Senior Volunteer</span>
                                        </div>
                                    </div>
                                </div>
                                <!--== Team End ==-->

                                <!--== Team Start ==-->
                                <div class="col-sm-6 col-lg-6 mb-6 mb-xl-8">
                                    <div class="team-item">
                                        <div class="image">
                                            <img src="{{ asset('estilos/assets/images/team/team-4.jpg') }}" width="280" height="280" alt="Anna Bratiychuk">
                                        </div>
                                        <div class="content">
                                            <h4 class="name">Anna Bratiychuk</h4>
                                            <span class="title">Senior Volunteer</span>
                                        </div>
                                    </div>
                                </div>
                                <!--== Team End ==-->
                            </div>
                        </div>
                        <div class="col-lg-6 team-content-wrap">
                            <!--== Section Title Start ==-->
                            <div class="section-title-2 mb-0">
                                <h6 class="sub-title">Voluntarios</h6>
                                <h2 class="title">Contamos con un gran grupo de voluntarios.</h2>
                                <span class="shape"><img src="{{ asset('estilos/assets/images/shape/section-title.png') }}" width="99" height="7" alt="Section Title Shape"></span>
                                <p>It is a long established fact that reader will be distracted by the readable content of a page when looking at it layout using normal distribution opposed.</p>
                            </div>
                            <!--== Section Title End ==-->
                        </div>
                    </div>
                </div>
                <div class="section-bg-img section-bg-img-style2" data-bg-img="{{ asset('estilos/assets/images/slider/slide-bg-color1.jpg') }}"></div>
            </div>
            <!--== End: Team Section Wrapper ==-->

            

            <!--== Start: News Post Section Wrapper ==-->
            <div class="blog-post-section section section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 text-center text-sm-start">
                            <!--== Start: Section Title ==-->
                            <div class="section-title mt-n1">
                                <h2 class="sub-title">Noticias</h2>
                                <h2 class="title mb-n3">Últimas Noticias</h2>
                            </div>
                            <!--== End: Section Title ==-->
                        </div>
                        
                    </div>

                    <div class="row row-gutter-60 mb-n6">
                        <!--== Start: News Post Item ==-->
                        <div class="col-md-6 mb-6">
                            <div class="post-item">
                                <a href="blog-details.html" class="image">
                                    <img src="{{ asset('estilos/assets/images/blog/image-7.jpg') }}" width="475" height="475" alt="News Post Image">
                                </a>
                                <div class="content">
                                    <ul class="post-meta">
                                        <li class="post-date"><span>Fecha:</span> 15 Abril, 2022</li>

                                    </ul>
                                    <h4 class="title"><a href="https://www.hola.com/mascotas/20211021198129/cuantos-perros-gatos-abandonados-espana-provincias-dn/">Provincias con mayor índice de abandono de animales</a></h4>
                                    <p>Cada 5 minutos en España se abandona a 3 animales, el principal motivo es el rechazo de los dueños a cuidar a los animales.</p>
                                </div>
                            </div>
                        </div>
                        <!--== End: News Post Item ==-->

                        <!--== Start: News Post Item ==-->
                        <div class="col-md-6 mb-6">
                            <div class="post-item">
                                <a href="blog-details.html" class="image">
                                    <img src="{{ asset('estilos/assets/images/blog/image-2.jpg') }}" width="475" height="475" alt="News Post Image">
                                </a>
                                <div class="content">
                                    <ul class="post-meta">
                                        <li class="post-date"><span>Fecha:</span> 04 Abril, 2022</li>
                                    </ul>
                                    <h4 class="title"><a href="https://www.lasexta.com/noticias/solidaridad/un-incendio-destruye-la-protectora-burrolandia-en-madrid-piden-ayuda-para-rehabilitar-el-espacio_201804045ac502610cf2bc677fc80eed.html">Un incendio destruye la protectora Burrolandia en Madrid</a></h4>
                                    <p>Burrolandia, ha pedido ayuda para recuperar el material que ardió el domingo por la noche en las instalaciones y que no afectó a las cuadras donde dormían los animales.</p>
                                </div>
                            </div>
                        </div>
                        <!--== End: News Post Item ==-->
                    </div>
                </div>
                
            </div>
            <!--== End: News Post Section Wrapper ==-->

            
        </main>
     
  {% endblock %}
  {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}



